.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    min-height: calc(100vh - 80px);
  }
  
  .left {
    background-color: darkslategray;
    color: azure;
  }
  
  .right {
    background-color: wheat;
    color: firebrick;
  }